.boxLorem {
  width: 470px;
  height: 252px;
}
.loremTitle {
  margin: 0px 0 18px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.loremContent {
  display: flex;
}
.loremContent span {
  height: 134px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.loremContent img {
  margin-right: 18px;
}
@media only screen and (max-width: 739px) {
  .boxLorem {
    margin-bottom: 30px;
    width: auto;
    margin: 0px 10px;
  }
  .loremContent span {
    font-size: 11px;
  }
  .loremContent img {
    margin-right: 10px;
    width: 120px;
  }
  .boxLorem div span {
    font-size: 11px;
  }
}
