.App {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

/* .Footer {
  position: absolute;
  bottom: 0%;
  height: 79px;
  border: 1px solid #dedede;
  background: #ffffff;
  margin-right: 10px;
} */
/* .footer-Text {
  width: 125px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3e3e3e;
} */
